.App {
    display: flex;
    min-height: 100vh;
}

.OpenFilePage {
    flex: 1;
    background-color: rgb(6, 2, 29);
    color: white;
    display: flex;
}

.OpenFilePage a {
    color: #8080FF;
}

.OpenFilePage-Sidebar {
    width: 160px;
    background-color: rgb(4, 2, 13);
}

.OpenFilePage-Sidebar ul {
    list-style: none;
    padding: 0;
}

.OpenFilePage-Sidebar li {
    display: flex;
    border-left: 1px solid transparent;
    margin: 0.5em 0;
}

.OpenFilePage-Sidebar li:hover {
    border-left-color: rgba(255,255,255,0.8);
}

.OpenFilePage-Sidebar button {
    background: none;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    margin: 0 1em;
    padding: 1em;
    width: 100%;
    text-align: left;
}

.OpenFilePage-Sidebar .active button {
    border: 1px solid rgba(255,255,255,0.8);
}

.OpenFilePage-Main {
    flex: 1;
    padding: 2em;
}

.OpenFilePage-Button {
    display: block;
    width: 80px;
    height: 80px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.05);
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
}
.OpenFilePage-Button:hover {
    background-color: rgba(255,255,255,0.1);
}

.OpenFilePage-Button span {
    display: block;
    font-size: 2em;
}

.OpenFilePage-Button input {
    display: none;
}

.OpenFilePage--Settings h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(255,255,255,0.8);
}

.OpenFilePage--Settings label {
    display: block;
}

.OpenFilePage--Settings label span {
    display: inline-block;
    width: 320px;
}

.OpenFilePage--Settings input,
.OpenFilePage--Settings select
 {
    background-color: transparent;
    color: inherit;
    padding: 0.25em;
}

.OpenFilePage--Settings option
{
    background-color: white;
    color: black;
    padding: 0.25em;
}

.HeaderBar {
    display: flex;
    background-color: #111;
    color: white;
    position: sticky;
    top: 0;
}

.HeaderBar button {
    margin: 0.5em;
}

.HeaderBar h1 {
    margin: 0.15em;
    font-size: 1.4rem;
}

@media (min-width: 1200px) {
    .PreviewPane {
        flex: 1;
        overflow: hidden;
        padding: 1em;
        display: flex;
        flex-direction: row;
    }

    .FolderView {
        width: 320px;
    }

    .MessageView {
        flex: 1;
    }
}

@media (min-width: 1400px) {

    .FolderView {
        width: 480px;
    }

}